html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #d4def6;
    background-color: #002366;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
}

.title {
    font-size: 96px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.quote {
    font-size: 24px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    flex-grow: 1;
    margin: 1% 0;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #00256e;
    text-decoration: none;
    color: #d4def6;
}

.card:hover {
    background-color: #002876;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}

.card img {
    width: 90%;
    height: auto;
    border: 1px solid #d4def622;
}

@media only screen and (min-width: 1024px) {
    /* For mobile */
    .cards {
        flex-direction: row;
    }

    .title {
        margin-top: 0;
    }

    .card {
        margin: 0 1%;
    }
}
