html, body {
    height: 100%;
}

::selection {
    background-color: #0046cc;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: #18191c;
    display: table;
    font-weight: 200;
    font-family: 'Montserrat';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.social-link {
    color: white;
    position: absolute;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #0046cc, #ff206e);
    border-image-slice: 1;
    text-decoration: none;
    top: 1%;
    right: 1%;
}

.content {
    text-align: center;
}

.title {
    font-size: 96px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #0046cc, #ff206e);
    border-image-slice: 1;
    display: inline-block;
}

.quote {
    font-size: 24px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    flex-grow: 1;
    margin: 1% 0;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #1d1e22;
    text-decoration: none;
    color: white;
}

.card:hover {
    background-color: #212226;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}

.card img {
    width: 90%;
    height: auto;
    border: 1px solid #80339D;
}

@media only screen and (min-width: 1024px) {
    /* For mobile */
    .cards {
        flex-direction: row;
    }

    .title {
        margin-top: 0;
    }

    .card {
        margin: 0 1%;
    }
}
